main {
  outline: none;
}

.program-list-wrapper {
  padding: $baseline * 2;
}

.collection-title {
  padding: 15px 0;
  font-size: 18px;
}

.program-cards-container {
  @include span(12, none);
  float: left;

  @media(min-width: $bp-screen-md) {
    @include span(9, none);
    float: left;
  }
}

.public-program-cards-container {
  @include span(12, none);
  float: left;
}

.sidebar {
  @include span(12, none);
  @include float(right);
  margin-bottom: $baseline;

  @media(min-width: $bp-screen-md) {
    @include span(3);
  }

  .aside {
    padding: $baseline;
    margin-bottom: $baseline;
    box-sizing: border-box;
    border: 1px solid $border-color-l3;
  }

  .program-advertise {
    clear: both;

    .new-programs-btn {
      width: 100%;
      text-align: center;
      padding: 10px;

    }

    .advertise-message {
      font-size: font-size(x-small);
      color: palette(grayscale, black);
      margin-bottom: $baseline;
    }
  }

  .certificate-container {
    .hd-6 {
      color: palette(grayscale, dark);
      font-weight: font-weight(normal);
      margin-bottom: $baseline;
    }

    .certificate-link {
      padding-top: $baseline;
      color: palette(primary, base);
      display: block;

      &:active,
      &:focus,
      &:hover {
        color: $link-hover;
        text-decoration: underline;
      }
    }
  }
}

.wrapper-header-empty-programs {
  border-bottom: 4px solid #f5f5f5;
  margin-bottom: 20px;

  .header-empty-programs{
    font-size: 18px;
  }
}

.empty-programs-message {
  border: 3px solid $gray-l4;
  background: $gray-l6;
  padding: ($baseline*2) 0;
  text-align: center;
  margin-bottom: $baseline;

  .hd-3 {
    color: #585858;
    margin-bottom: $baseline;
    text-transform: none;
    font-weight: normal;
  }

  a {
    background: transparent;
    border: 1px solid $main-color;
    border-radius: 4px;
    box-shadow: 0 1px 8px 0 rgba(0,0,0,0.1);
    box-sizing: border-box;
    color: $main-color;
    font-family: "Open Sans",Verdana,Geneva,sans-serif,sans-serif;
    display: inline-block;
    letter-spacing: 1px;
    margin-top: 5px;
    margin-left: 5px;
    padding: 15px 20px;

    &:active,
    &:focus,
    &:hover {
      color: $white;
      background: $main-color;
      text-decoration: none;
    }
  }
}
