<%!
from django.utils.translation import ugettext as _
from django.core.urlresolvers import reverse
%>
<%namespace name='static' file='/static_content.html'/>
<%!
  from datetime import date
%>
<% edevate_base = settings.EDEVATE_BASE_URL %>
<div class="wrapper-footer">
<footer class="footer">
  <div class="footer-container">
      <ul class="footer-links">
        <li><a href="${edevate_base}courses/search/">Courses &amp; Certifications</a></li>
        <li><a href="${edevate_base}ecap/details/">ECAP</a></li>
        <li><a href="${edevate_base}institutes/">Institutes</a></li>
        <li><a href="${edevate_base}contact/">Contact Us</a></li>
        <li><a href="${edevate_base}about">About</a></li>
      </ul>

      <ul class="more-links">
        <li class="social-links">
          <a href="https://www.facebook.com/edevate" target="_blank"><img src="${static.url('images/facebook.svg')}" alt="Facebook"/></a>
          <a href="https://twitter.com/edevate" target="_blank"><img src="${static.url('images/twitter.svg')}" alt="Twitter"/></a>
        </li>
        <li class="copyright">
          <span>&copy; ${_('Edevate {year}. All rights reserved.').format(year=date.today().year)}</span>
          <span class="footer-icon"></span>
        </li>
      </ul>
  </div>
</footer>

</div>

