
// ------------------------------
// Programs: App Container

h1, h2, h3, h4, h5, h6, .hd-1, .hd-2, .hd-3, .hd-4, .hd-5, .hd-6 {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  vertical-align: baseline;
  color: inherit;
}

.wrapper-footer {
    padding: 20px 0;
}

// About: styling for setting up the wrapper.
.program-app {
  &.layout-1q3q {
    max-width: 1250px;

    // HtmlUtils.template wraps children of this in an anonymous div. We need to make sure they render at full width
    & > div {
      @include span(12);
    }

    & > div.creator {
      border: 1px solid #b2b2b2;
      padding: 0;
      margin: 40px auto;
      background: #fff;
    }

    form {
      margin-bottom: 20px;
    }
  }
}
